<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to the Great Number Game</h1>
      <p><%= number %></p>
    </div>
  </body>
</html>
